# -----------------------------------
# Java build outputs
# -----------------------------------
*.class

# -----------------------------------
# Build directories
# -----------------------------------
/bin/
/build/
/out/

# -----------------------------------
# IDE configuration files
# IntelliJ IDEA, VSCode, Eclipse, etc.
/.idea/
/*.iml
/.classpath
/.project
/.settings/
/.vscode/

# -----------------------------------
# Operating system files
# -----------------------------------
.DS_Store
Thumbs.db

# -----------------------------------
# Log and temporary files
# -----------------------------------
*.log
*.tmp

# -----------------------------------
# Project archives or backups
# -----------------------------------
/archive/

